In [1]:
import numpy as np 
import pandas as pd 
from bs4 import BeautifulSoup
import requests

In [2]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source, 'lxml')

In [3]:

class Scrapy:
       
        def parse_url(self, url):
            response = requests.get(url)
            soup = BeautifulSoup(response.text, 'lxml')
            return [(self.parse_html_table(table))\
                    for table in soup.find_all('table', class_="wikitable sortable")]  
    
        def parse_html_table(self, table):
            n_columns = 0
            n_rows=0
            column_names = []
            for row in table.find_all('tr'):
                td_tags = row.find_all('td')
                if len(td_tags) > 0:
                    n_rows+=1
                    if n_columns == 0:
                        n_columns = len(td_tags)
                        
                th_tags = row.find_all('th') 
                if len(th_tags) > 0 and len(column_names) == 0:
                    for th in th_tags:
                        column_names.append(th.get_text())
    
            if len(column_names) > 0 and len(column_names) != n_columns:
                raise Exception("Column titles do not match the number of columns")
    
            columns = column_names if len(column_names) > 0 else range(0,n_columns)
            df = pd.DataFrame(columns = columns,
                              index= range(0,n_rows))
            row_marker = 0
            for row in table.find_all('tr'):
                column_marker = 0
                columns = row.find_all('td')
                for column in columns:
                    df.iat[row_marker,column_marker] = column.get_text()
                    column_marker += 1
                if len(columns) > 0:
                    row_marker += 1
                    
            for col in df:
                try:
                    df[col] = df[col].astype(float)
                except ValueError:
                    pass
            
            return df

In [5]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
hp = Scrapy()
table = hp.parse_url(url)[0] 
table.head(20)

,Postal Code\n,Borough\n,Neighborhood\n
0,M1A\n,Not assigned\n,\n
1,M2A\n,Not assigned\n,\n
2,M3A\n,North York\n,Parkwoods\n
3,M4A\n,North York\n,Victoria Village\n
4,M5A\n,Downtown Toronto\n,"Regent Park, Harbourfront\n"
5,M6A\n,North York\n,"Lawrence Manor, Lawrence Heights\n"
6,M7A\n,Downtown Toronto\n,"Queen's Park, Ontario Provincial Government\n"
7,M8A\n,Not assigned\n,\n
8,M9A\n,Etobicoke\n,Islington Avenue\n
9,M1B\n,Scarborough\n,"Malvern, Rouge\n"
10,M2B\n,Not assigned\n,\n
11,M3B\n,North York\n,Don Mills\n
12,M4B\n,East York\n,"Parkview Hill, Woodbine Gardens\n"
13,M5B\n,Downtown Toronto\n,"Garden District, Ryerson\n"
14,M6B\n,North York\n,Glencairn\n
15,M7B\n,Not assigned\n,\n
16,M8B\n,Not assigned\n,\n
17,M9B\n,Etobicoke\n,"West Deane Park, Princess Gardens, Martin Grov..."
18,M1C\n,Scarborough\n,"Rouge Hill, Port Union, Highland Creek\n"
19,M2C\n,Not assigned\n,\n

In [13]:
table = table.rename(columns={'Postal Code\n': 'Postal Code', 'Borough\n': 'Borough','Neighborhood\n':'Neighborhood'})
table.head()

  Postal Code             Borough                 Neighborhood
0       M1A\n      Not assigned\n                           \n
1       M2A\n      Not assigned\n                           \n
2       M3A\n        North York\n                  Parkwoods\n
3       M4A\n        North York\n           Victoria Village\n
4       M5A\n  Downtown Toronto\n  Regent Park, Harbourfront\n

### clean table

In [14]:

print(list(table))
table = table.replace('\n',' ', regex=True)
table.head()

['Postal Code', 'Borough', 'Neighborhood']

  Postal Code            Borough                Neighborhood
0        M1A       Not assigned
1        M2A       Not assigned
2        M3A         North York                   Parkwoods
3        M4A         North York            Victoria Village
4        M5A   Downtown Toronto   Regent Park, Harbourfront

### Remove  "Not assigned"

In [20]:
table.drop(table[table['Borough']=="Not assigned"].index,axis=0, inplace=True)

In [21]:
table.head()

  Postal Code            Borough                Neighborhood
0        M1A       Not assigned
1        M2A       Not assigned
2        M3A         North York                   Parkwoods
3        M4A         North York            Victoria Village
4        M5A   Downtown Toronto   Regent Park, Harbourfront

### Groupby Nieghborhood postal code

In [24]:
df = table.groupby(['Postal Code','Borough'])['Neighborhood'].apply(lambda x: ", ".join(x.astype(str))).reset_index()
df = df.sample(frac=1).reset_index(drop=True)
df.head(10)

  Postal Code            Borough                       Neighborhood
0        M8L       Not assigned
1        M8K       Not assigned
2        M4H          East York                   Thorncliffe Park
3        M6E               York                Caledonia-Fairbanks
4        M2W       Not assigned
5        M6A         North York   Lawrence Manor, Lawrence Heights
6        M5G   Downtown Toronto                 Central Bay Street
7        M2V       Not assigned
8        M5N    Central Toronto                           Roselawn
9        M1N        Scarborough        Birch Cliff, Cliffside West

In [25]:
print(df.shape)

(180, 3)

### geospacial data

In [26]:
url2="http://cocl.us/Geospatial_data"
geo_data=pd.read_csv(url2)
geo_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [27]:
print(list(df))
print(list(geo_data))

full_table = df.set_index('Postal Code').join(geo_data.set_index('Postal Code'))
full_table = full_table.sample(frac=1).reset_index(drop=True)
full_table.head(10)

['Postal Code', 'Borough', 'Neighborhood']
['Postal Code', 'Latitude', 'Longitude']

         Borough                        Neighborhood  Latitude  Longitude
0  Not assigned                                            NaN        NaN
1    North York                    Victoria Village        NaN        NaN
2    North York   Bedford Park, Lawrence Manor East        NaN        NaN
3    North York                           Downsview        NaN        NaN
4  Not assigned                                            NaN        NaN
5  Not assigned                                            NaN        NaN
6  Not assigned                                            NaN        NaN
7     Etobicoke                           Northwest        NaN        NaN
8    North York                           Downsview        NaN        NaN
9  Not assigned                                            NaN        NaN

# Creating a Map

In [29]:
!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim
import matplotlib.cm as cm
import matplotlib.colors as colors

from sklearn.cluster import KMeans
!conda install -c conda-forge folium=0.5.0 --yes
import folium

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\HP\Anaconda3

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    altair-4.1.0               |             py_1         614 KB  conda-forge
    branca-0.4.1               |             py_0          26 KB  conda-forge
    certifi-2019.9.11          |           py37_0         147 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         860 KB

The following NEW packages will be INSTALLED:

  altair             conda-forge/noarch::altair-4.1.0-py_1
  branca             conda-forge/noarch::branca-0.4.1-py_0
  folium             conda-forge/noarch::folium-0.5.0-py_0
  vincent            conda-forge/noarch::vincent-0.4.4-py_1

The following packages will be SUPERSEDED by a higher-priority channel:

  certifi                                         pkgs/main --> conda-forge



Downloading and Extracting Packages

branca-0.4.1         | 26 KB     |            |   0%
branca-0.4.1         | 26 KB     | ######1    |  62%
branca-0.4.1         | 26 KB     | ########## | 100%

folium-0.5.0         | 45 KB     |            |   0%
folium-0.5.0         | 45 KB     | ###5       |  35%
folium-0.5.0         | 45 KB     | ########## | 100%

vincent-0.4.4        | 28 KB     |            |   0%
vincent-0.4.4        | 28 KB     | #####7     |  58%
vincent-0.4.4        | 28 KB     | ########## | 100%

certifi-2019.9.11    | 147 KB    |            |   0%
certifi-2019.9.11    | 147 KB    | #          |  11%
certifi-2019.9.11    | 147 KB    | ########## | 100%

altair-4.1.0         | 614 KB    |            |   0%
altair-4.1.0         | 614 KB    | 2          |   3%
altair-4.1.0         | 614 KB    | 7          |   8%
altair-4.1.0         | 614 KB    | ####1      |  42%
altair-4.1.0         | 614 KB    | ######7    |  68%
altair-4.1.0         | 614 KB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

### cordinates of totonto

In [30]:
address = 'Toronto'

geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Toronto are {}, {}.'.format(latitude, longitude))

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: Using Nominatim with the default "geopy/1.22.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  This is separate from the ipykernel package so we can avoid doing imports until

The geograpical coordinate of Toronto are 43.6534817, -79.3839347.

### creating map using found Coordinates

In [ ]:
map_geo = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, label in zip(full_table['Latitude'], full_table['Longitude'], full_table['Neighborhood']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_geo)  
    
map_geo